<cs-header>
  <p levels>cars</p>
  <div content>
    <p>List of cars in service</p>
  </div>
</cs-header>

<div class="container">
  <div class="row">
    <div class="col">
      <table *ngIf="cars && cars?.length > 0; else noCarsInfo" class="cs-table table table-striped">
        <thead>
          <tr>
            <th>Car</th>
            <th>Plate</th>
            <th>Delivery date</th>
            <th>Deadline</th>
            <th>Client</th>
            <th>Cost</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr class="row-car" *ngFor="let car of cars; let i = index" (click)="goToCarDetails(car.id)">
            <td [ngClass]="{'row-error': car.isFullyDamaged}"> {{ car?.model }}</td>
            <td> {{ car?.plate }}</td>
            <td> {{ car?.deliveryDate }}</td>
            <td> {{ car?.deadline }}</td>
            <td> {{ car?.clientFirstName }} {{ car?.clientSurname }}</td>
            <td> {{ car?.cost }}</td>
            <td>ACTION PLACEHOLDER</td>
          </tr>
        </tbody>
      </table>

      <ng-template #noCarsInfo>
        <div class="no-cars-info">
          <p>Currently no cars in service</p>
        </div>
      </ng-template>

    </div>
  </div>
  <div class="row">
    <div class="col">
      <button (click)="showGross()" class="btn btn-primary btn-sm float-right">SHOW GROSS</button>
    </div>
  </div>
  <cs-total-cost #totalCostRef [totalCost]="totalCost" (shownGross)="onShownGross($event)"></cs-total-cost>
  <div class="row" *ngIf="grossCost != undefined && grossCost != NaN && grossCost">
    <div class="col">
      <div class="total-cost">
        <p class="text-right">TOTAL GROSS COST: {{ grossCost }} PLN</p>
      </div>
    </div>
  </div>
</div>